@import '../variables.css';

.addMargin {
  margin-right: 20px;
  width: 250px !important;

  @media screen and (min-width: 1562px) {
    width: 210px !important;
  }
}

.incidentCard {
  border: 1px solid var(--border-black);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 200px;

  .segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .expandBtn {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .caseNo {
    opacity: 0.4;
    color: var(--black);
    margin: 0;
    font-size: 0.7em;
  }

  .category {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 0.9em;
    font-weight: 400;
  }

  .location {
    margin: 0;
    font-size: 0.9em;
  }

  .incidentStatus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

    .escalate {
      margin-left: 10px;
    }

    .status {
      margin: 0;
      color: var(--white);
      border-radius: 20px;
      width: 110px;
      font-size: 0.8em;
      font-weight: 400;
      text-align: center;
      padding: 3px 0;
    }
  }

  .timeInfo {
    margin-top: 5px;
    font-size: 0.9em;

    .start {
      opacity: 0.4;
      margin-bottom: 2px;
    }

    .end {
      opacity: 0.4;
    }
  }
}

.dispatched {
  background-color: var(--blue);
}

.onsite {
  background-color: var(--orange);
}

.enrouteBack {
  background-color: var(--light-green);
}
