@import '../../components/variables.css';

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .sideColumn {
    width: 210px;
    padding: 0 30px;
    margin-top: 70px;

    .columnTitle {
      text-align: center;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .main {
    width: calc(100vw - 540px);
  }
}

.createIncidentBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-black);
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  img {
    margin-right: 10px;
  }
}
