@import '../../components/variables.css';

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .sideColumn {
    width: 230px;
    padding: 0 25px;

    .incidentList {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - 225px);
      overflow-y: scroll;

      .noIncidents {
        opacity: 0.3;
        text-align: center;
      }
    }

    .columnTitle {
      text-align: center;
      font-weight: 400;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .main {
    width: calc(100vw - 540px);

    .nav {
      height: 70px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .navBtn {
        margin-right: 25px;
        cursor: pointer;
        opacity: 0.3;
        transition: all 0.2s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.createIncidentBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-black);
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;

  &:focus {
    outline: none;
  }

  img {
    margin-right: 10px;
  }
}
